@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Source Code Pro', Consolas, monaco, monospace;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.app__textarea {
  width: 100%;
  height: 100%;
  font: inherit;
  padding: 1rem;
}

.app__pre {
  width: 100%;
  height: 100%;
  background: #eee;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  padding: 1rem;
}
