@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* globals */
:root {
  --color: #1278BD;
  --gray: #bbb;
  --radius: 3px;
  --ms: 180ms;
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

::selection {
  background: var(--color);
  color: #fff;
  text-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Source Code Pro', Consolas, monaco, monospace;
  font-size: 1rem;
  line-height: 1.6rem;
}

@keyframes pop {
  0% {
    transform: none;
  }

  50% {
    transform: translate3d(2px, 0, 0);
  }

  100% {
    transform: none;
  }
}

/* app */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: var(--ms) background-color;
  background-color: var(--color);
}

.app__header {
  padding: .8rem;
  color: #fff;
  text-align: center;
}

.app__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 3.2rem;
}

.app__description {
  max-width: 700px;
  margin: 0 auto;
  font-size: .875rem;
}

.app__link {
  color: #fff;
}

.app__bottom {
  display: flex;
  flex: 1;
  width: 100vw;
  padding: 1.6rem;
}

.app__half {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  width: calc(50% - .2rem);
  margin-right: .4rem;
  padding: .4rem;
  border-radius: var(--radius);
  background-color: #fff;
}

.app__top {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 4rem;
  margin-bottom: .4rem;
}

.app__topitem {
  display: flex;
  width: 100%;
  margin-right: .4rem;
}

.app__topitem:last-child {
  margin-right: 0;
}

.app__main {
  display: flex;
  flex-grow: 1;
}

/* btn */

.btn {
  width: 100%;
  transition: var(--ms) background-color;
  border: 0;
  border-radius: var(--radius);
  outline: 0;
  background: var(--gray);
  color: #fff;
  font: inherit;
  box-shadow: none;
  cursor: pointer;
}

.btn--active {
  background: var(--color);
  animation-name: pop;
  animation-duration: var(--ms);
  animation-fill-mode: both;
}

.btn--vscode:hover {
  background: #1278BD;
}

.btn--sublimetext:hover {
  background: #FF9800;
}

.btn--atom:hover {
  background: #40a977;
}

/* input */

.input {
  width: 100%;
  margin: 0;
  padding: 1.2rem;
  transition: var(--ms) border;
  border: 1px solid var(--gray);
  border-radius: var(--radius);
  outline: 0;
  background-color: #fff;
  color: inherit;
  font: inherit;
  resize: none;
}

.input:hover {
  border: 1px solid var(--color);
}


.input:focus {
  border: 1px solid var(--color);
  animation-name: pop;
  animation-duration: var(--ms);
  animation-fill-mode: both;
}

.pre {
  width: 100%;
  margin: 0;
  padding: 1.2rem;
  transition: var(--ms) border;
  border: 1px solid var(--gray);
  border-radius: var(--radius);
  outline: 0;
  background: #fff;
  color: inherit;
  font: inherit;
  overflow: auto;
  resize: none;
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  /*white-space: pre-wrap;*/
}

.info {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  font-size: .75rem;
  line-height: .75rem;
}

.info__select {
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.info__link {
  color: var(--color);
  text-decoration: none;
}

/* copy */
.copy {
  position: absolute;
  right: .8rem;
  bottom: .8rem;
  height: 3.2rem;
  padding: 0 1.6rem;
  transition: var(--ms) background-color;
  border: 0;
  border-radius: var(--radius);
  outline: 0;
  background: var(--color);
  color: #fff;
  font: inherit;
  box-shadow: none;
  cursor: pointer;
}
